<head>
	<link rel="stylesheet" type="text/css" href="css/resume.css">
	<link href="css/bootstrap.min.css" rel="stylesheet" />
</head>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<header class="main row">
				<div class="header">
					<div class="col-md-6 col-sm-12">
						<h1><%= @config["basic"]["name"] %></h1>
						<h3>Software engineer</h3>
					</div>
					<div class="col-md-6 col-sm-12">
						<img class="photo img-responsive img-circle pull-right"
						src="https://avatars2.githubusercontent.com/u/446998?v=2&s=460">
					</div>
				</div>

				<div class="">
					<div class="col-md-6 col-sm-12">
						<dl class="contacts dl-horizontal">

							<dt>Address:</dt>
							<dd>Myślenice, Poland</dd>

							<dt>Phone:</dt>
							<dd>+48 693 320 358</dd>

							<dt>Email:</dt>
							<dd>
								<a href="mailto:sebastian.hanula@gmail.com">
									sebastian.hanula@gmail.com
								</a>
							</dd>

							<dt>Website:</dt>
							<dd>
								<a href="http://www.hanula.com">
									http://www.hanula.com
								</a>
							</dd>

						</dl>
					</div>

					<div class="col-md-6 col-sm-12">
						<ul class="networks list-unstyled text-right">

							<li>
								<a href="https://twitter.com/hanula">
									hanula @ twitter
								</a>
							</li>

							<li>
								<a href="https://github.com/hanula">
									hanula @ github
								</a>
							</li>

							<li>
								<a href="https://www.linkedin.com/in/sebastianhanula">
									sebastianhanula @ linkedin
								</a>
							</li>

							<li>
								<a href="https://plus.google.com/+SebastianHanula">
									SebastianHanula @ google+
								</a>
							</li>

						</ul>
					</div>
				</div>
			</header>
		</li></h>
	</header>
</div>
